<div class="top-row" style="background-color: #607EAA;margin-left: -28px;margin-right: -21px;margin-top: -15px;">
    <div class="d-flex flex-row">
           
        <div class="d-flex flex-column justify-content-center ml-2 pt-2">
            <span class="principalfontstyles" style="font-size:20px"><b>Carreras</b></span> 
        </div>
        
        @if(Carreras != null) 
        {
            <div class="d-flex flex-column justify-content-center ml-2 pt-2">    
                <RadzenDropDown AllowClear="false" TValue="string" style="width:500px; margin-top: 2px"
                                        Data=@Carreras TextProperty="NombreCarrera" ValueProperty="IdCarrera" 
                                        Change=@OnLocalChange  
                                        @bind-Value="@SelectedValue"/>
            </div>
            @if(_carreraSelected != null && _carreraSelected.Baja == "S")
            {
                <div class="d-flex flex-column justify-content-center ml-2 pt-2">    
                    <span class="principalfontstyles" style="font-size:18px" >Estado <RadzenBadge BadgeStyle="BadgeStyle.Danger" IsPill="true" Text="BAJA" /> </span>
                </div>
            }
            else if(_carreraSelected != null && _carreraSelected.Baja == "N")
            {
                <div class="d-flex flex-column justify-content-center ml-2 pt-2">    
                    <span class="principalfontstyles" style="font-size:18px" >Estado <RadzenBadge BadgeStyle="BadgeStyle.Success" IsPill="true" Text="ACTIVO" /> </span>
                </div>
            }
            
        }      
         
    </div> 
    <hr/>
</div>

@code {
    [Parameter] 
    public EventCallback<AlumnoCarrera> OnChange { get; set; }
    
    [Parameter]
    public List<AlumnoCarrera> Carreras { get; set; }

    [Parameter]
    public string SelectedValue { get; set; }

    private AlumnoCarrera _carreraSelected;

    private async Task OnLocalChange(object value)
    {
        _carreraSelected = Carreras.Find(x => x.IdCarrera == (string)value);

        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync(_carreraSelected);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(SelectedValue))
        {
            _carreraSelected = Carreras.Find(x => x.IdCarrera == SelectedValue);   
        }
    }
}