@page "/alumno/ficha"

@inherits _BasePage

<h1>Ficha Alumno</h1>

<div class="row">
    <div class="col-xl-6">
        <h3 style="margin-top: 2rem">Tipo y Numero Documento</h3>
        <RadzenTextBox Disabled="true" @bind-Value=@_alumno.CodigoAlumno />
        <h3>Apellido</h3>
        <RadzenTextBox @bind-Value=@_alumno.Apellido/>
        <h3 style="margin-top: 2rem">Nombre</h3>
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Nombre/>       
       
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Sexo />
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Nacionalidad /> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.EstadoCivil />
        <RadzenDatePicker @bind-Value=@_alumno.FechaNacimiento DateFormat="d" />
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.LugarNacimiento/> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.ProvinciaNacimiento/> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Domicilio/> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Localidad /> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.CodigoPostal/> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Telefono/> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Mail /> 
        <RadzenTextBox Placeholder="" @bind-Value=@_alumno.Celular/> 
    </div>
</div>