@page "/"

@using System.ComponentModel.DataAnnotations.Schema

@inherits _BasePage

@if(_alumno != null)
{
    <h1>@_alumno.Apellido, @_alumno.Nombre</h1>
}


@code
{
    private AlumnoDto? _alumno;
    private class AlumnoDto
    {
        [Column("APELLIDO")]
        public string Apellido {get; set;} = default!;
        [Column("NOMBRE")]
        public string Nombre {get; set;} = default!;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                if (appSession.UserCode == 0)
                {
                    await appSession.LoadInformationUser();
                }
                using (var dbContext = await appSession.DbContextCreate())
                {
                    _alumno = await dbContext.QuerySingleOrDefaultAsync<AlumnoDto>("select apellido, nom_ape as nombre from alumnos where indice=@indice",
                        new {
                            indice = appSession.UserCode
                        });
                }
                StateHasChanged();
            }
            catch (Exception err)
            {
                if (err.InnerException != null && err.InnerException.Message != "")
                {
                    toastService.ShowError(err.InnerException.Message);
                }
                else
                {
                    toastService.ShowError(err.Message);
                }
            }
        }
    }
}
